# virtual environments
venv/
evn/
.env/
.venv/
ENV/
env.bak/
venv.bak/
myvenv/
*venv/
myenv/
mit_bih_data/

# python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter files
.jupytext*
.ipynb_checkpoints/
.ipynb

# Data directories
data/
FashionMNIST/

# Neural network directories and archives
neural-networks-and-deep-learning-master/
*.zip

# PyTorch data
pytorch_basics/data/
